In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

### define path

In [5]:
data_path = "./data"
countries_path = './data/countries.xlsx'
pdf_analysis_path = './data/total'
path_stock_list = "./data/stock.xlsx"

### define function

In [6]:
def read_stock_list(path):
    df = pd.read_excel(path)
    return df

def get_total_stock_analysis(stock_list, path):
    total = pd.DataFrame()
    for index, row in stock_list.iterrows():
        try:
            stock_code = row['Stock Code']
            pkl_path = os.path.join(path, "%s_analysis.pkl" % (stock_code))
            df = pd.read_pickle(pkl_path)
            total = pd.concat([total, df])

        except Exception as e:
            print(e)

    return total

In [7]:
stock_list = read_stock_list(path_stock_list)
total_stock_analysis = get_total_stock_analysis(stock_list, pdf_analysis_path)

In [8]:
total_stock_analysis

,Country,Count,Stock Code,Year,Month,lat,lng,Percent
0,Kosovo,1,5,2018,08,42.540622,20.956989,0.364964
1,Svalbard,0,5,2018,08,78.216700,15.633300,0.000000
2,Yemen,1,5,2018,08,14.673146,45.918938,0.364964
3,Mayotte,0,5,2018,08,-12.787100,45.275000,0.000000
4,South Africa,1,5,2018,08,-29.361468,25.863194,0.364964
5,Zambia,0,5,2018,08,-13.461203,27.676562,0.000000
6,Zimbabwe,0,5,2018,08,-18.929125,29.789730,0.000000
7,Kazakhstan,4,5,2018,08,48.332630,68.394287,1.459854
8,Laos,0,5,2018,08,18.246253,103.702632,0.000000
9,Lebanon,0,5,2018,08,33.933788,35.741725,0.000000
10,Saint Lucia,1,5,2018,08,14.002000,-61.000000,0.364964
11,Liechtenstein,0,5,2018,08,47.173055,9.526118,0.000000
12,Sri Lanka,0,5,2018,08,7.520893,80.437407,0.000000
13,Liberia,0,5,2018,08,6.204418,-9.585853,0.000000
14,Lesotho,0,5,2018,08,-29.541270,28.036410,0.000000
15,Lithuania,0,5,2018,08,55.310035,23.706761,0.000000
16,Luxembourg,1,5,2018,08,49.763292,6.129967,0.364964
17,Latvia,3,5,2018,08,56.885389,24.763713,1.094891
18,Libya,1,5,2018,08,29.876595,16.552838,0.364964
19,Morocco,0,5,2018,08,32.933276,-6.937876,0.000000
20,Monaco,1,5,2018,08,43.739600,7.406900,0.364964
21,Moldova,0,5,2018,08,47.238876,28.455026,0.000000
22,Montenegro,1,5,2018,08,42.683691,19.314991,0.364964
23,Saint Martin,0,5,2018,08,18.070600,-63.084700,0.000000
24,Madagascar,0,5,2018,08,-18.730979,46.919575,0.000000
25,Marshall Islands,0,5,2018,08,7.103000,171.380000,0.000000
26,Macedonia,2,5,2018,08,41.662755,21.727686,0.729927
27,Mali,2,5,2018,08,14.962368,-5.473658,0.729927
28,Burma,1,5,2018,08,18.916935,95.960573,0.364964
29,Mongolia,0,5,2018,08,47.630165,103.623296,0.000000
...,...,...,...,...,...,...,...,...
2310,Croatia,1,836,2017,07,45.185914,16.397933,0.374532
2311,Haiti,0,836,2017,07,19.000140,-72.740370,0.000000
2312,Hungary,1,836,2017,07,47.131216,18.987576,0.374532
2313,Indonesia,2,836,2017,07,-3.601422,113.473064,0.749064
2314,Ireland,1,836,2017,07,53.259888,-7.589185,0.374532
2315,Israel,0,836,2017,07,32.091583,34.991467,0.000000
2316,Isle Of Man,0,836,2017,07,54.150400,-4.480000,0.000000
2317,India,4,836,2017,07,21.680077,79.274420,1.498127
2318,Iraq,0,836,2017,07,33.490067,44.549963,0.000000
2319,Iran,0,836,2017,07,33.968683,51.980003,0.000000
2320,Iceland,0,836,2017,07,64.856167,-19.763744,0.000000
2321,Italy,1,836,2017,07,42.367664,12.728870,0.374532
2322,Jersey,0,836,2017,07,49.183300,-2.100000,0.000000
2323,Jamaica,0,836,2017,07,18.154573,-77.201347,0.000000
2324,Jordan,0,836,2017,07,31.580000,35.784017,0.000000
2325,Japan,0,836,2017,07,36.392775,136.926279,0.000000
2326,Kenya,1,836,2017,07,-0.569373,36.890329,0.374532
2327,Kyrgyzstan,1,836,2017,07,41.803413,74.294727,0.374532
2328,Cambodia,0,836,2017,07,12.299707,104.779367,0.000000
2329,Kiribati,0,836,2017,07,1.338200,173.017600,0.000000
2330,Comoros,0,836,2017,07,-11.704200,43.240200,0.000000
2331,Saint Kitts And Nevis,0,836,2017,07,17.302000,-62.717000,0.000000
2332,"Korea, North",1,836,2017,07,39.966486,126.951783,0.374532
2333,"Korea, South",1,836,2017,07,36.376890,127.602494,0.374532
2334,Kuwait,0,836,2017,07,29.261367,47.906733,0.000000
2335,Cayman Islands,0,836,2017,07,19.280400,-81.330000,0.000000
2336,American Samoa,0,836,2017,07,-14.274000,-170.704600,0.000000
2337,Guam,0,836,2017,07,13.471850,144.741800,0.000000
2338,Northern Mariana Islands,0,836,2017,07,15.213700,145.754600,0.000000
2339,United States,73,836,2017,07,38.252438,-92.039345,27.340824

In [9]:
from mpl_toolkits.basemap import Basemap

ModuleNotFoundError: No module named 'mpl_toolkits.basemap'